@font-face {
  font-family: 'Inter';
  src: local('Inter Regular'), url("./assets/fonts/Inter Web/Inter-Regular.woff") format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Inter';
  src: local('Inter Bold'), url("./assets/fonts/Inter Web/Inter-Bold.woff") format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  font-family: 'Inter';
  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Inter Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
